header {
    font-size: 20px;
    background-color: black;
    text-align: center;
    padding: 30px;
    margin: 0%;
}

header > h1{
    color: white;
}




.sidebar{
    float: left;
    overflow-x: hidden;
    padding-bottom: 1510px;
    width: 160px;
    background-color: lightskyblue;
}
.sidebar ul{
    padding-left: 10px;
}
.sidebar li{
    list-style-type: none;
}
.sidebar a{
    color: black;
    padding: 5px 5px 5px 0px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.hobby{
    float: left;
    padding-left: 10px;
}

.hobby p{
    font-size: 20px;
}
.hobby img{
    width: 100%;
    height: auto;
}
